* {
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #1f2937;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    margin-left: auto;
    gap: 10px;
}

a {
    margin-left: 12px;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.main-one {
    display: flex;
    padding: 10px;
    background-color: #1f2937;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 3px;
    border: 1px solid white;
}

.main-one .vstack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.vstack h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.main-one .vstack p {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    width: 200px;
    height: auto;
    margin-left: auto;
}

.main-two h2 {
    font-size: 36px;
    font-weight: 900;
}

.main-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-two .hstack {
    display: flex;
}

.main-two .hstack .vstack {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-three {
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.inspiring-quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.main-four {
    background-color: #3882F6;
    margin: 10px;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
}

h4 {
    font-weight: 400;
}

.square {
    border: 3px solid #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}